{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">About</h1>

            <p>Glycomass is brought to you by:</p>
        </div>
    </div>

    <div class="container align-self-lg-center">

        <div class="row">
            <div class="col-md-4">
                <h2 class="text-center">Melissa Bärenfänger</h2>


                <p class="text-center"><a class="btn btn-secondary" href="https://www.linkedin.com/in/mbaerenfaenger/" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-4">
                <h2 class="text-center">Christian Till</h2>

                <p class="text-center"><a class="btn btn-secondary" href="https://www.linkedin.com/in/christiantill/" role="button">View details &raquo;</a></p>
            </div>

        </div>

        <hr>

    </div> <!-- /container -->

{% endblock %}
