{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <h4>Calculate your Glycan Mass</h4>

    {{ wtf.quick_form(form) }}
    {% if monomz is defined %}


    <h3>
        <p> Monoisotopic Mass: {{monomz}} m/z </p>
        <p> Most Abundant Mass: {{mostab}} m/z </p>
        <p> Composition: {{composition}}</p></h3>

    <img class="img-fluid" alt="Responsive image" src="data:image/png;base64, {{ plot_url }}">
        {% else %}
        {{ super() }}

    {% endif %}
    </div>


{% endblock %}