{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>Proteins play an important role in all cellular life. They can have structural functions, act as
transporter, fulfil enzymatic roles or support signalling. To keep up with all these tasks, proteins
need to be modified into different proteoforms, for example by adding glycans. Understanding this
glycosylation process is of great interest for various research fields and for the pharmaceutical
industry.
One way to study these modifications is by mass spectrometry where glycosylation of proteins can
be analysed after releasing glycans from the protein, digesting the protein into smaller peptides and
glycopeptides or measuring the intact glycoprotein and deducing different proteoforms.</p>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('about') }}" role="button">Learn more &raquo;</a></p>
            <p>This calculator helps to predict MS spectra for all three cases:</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Free Glycans</h2>
                <p>Picture Here </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Peptides and glycopeptids</h2>
                <p>Picture Here. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Glycoproteins</h2>
                <p>Picture Here</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->
{% endblock %}
